/*
lazy-lock.json

# Exclude prolog

bin/swipl
bin/swipl-devel/
bin/swipl-ld
bin/swipl-win

# Except

!.bashrc
!.tmux.conf
!.gitignore
!README.md
!.install/
!.gitconfig
!.gitattributes
!.bash_profile
!.bash_logout
!bin/

!.config/
.config/*
!.config/bash/
!.config/nvim/
!.config/alacritty/
!.config/system-images/
