/*
lazy-lock.json

# Except

!.bashrc
!.tmux.conf
!.gitignore
!README.md
!.install/
!.gitconfig
!.gitattributes
!.bash_profile
!.bash_logout
!bin/

!.config/
.config/*
!.config/bash/
!.config/alacritty/
!.config/system-images/
